<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>CoinSense Password Change</title></head>
<body style = "background-color : rgb(255, 99, 71);">
<h1 style="text-align:center;background-color:rgb(100,10,80)">
    Welcome to Savers ville!
</h1>
<div>
<form style="text-align:center;" method="post" action="/changePassword" th:object="${changepasswordpage}">
    <div>
    <label>New Password
        <input type="text" name="newPW" th:field="*{newPassword}" value="New Password">
    </label>
        <label>
            <input type="checkbox" onclick="myFunction()">
        </label>Show Password
    </div>
    <div>
    <label> Confirm New Password
        <input type="text" name="reenterPW" th:field="*{confirmNewPassword}" value="reenterPassword">
    </label>
        <label>
            <input type="checkbox" onclick="myFunction()">
        </label>Show Password
    </div>
    <input type="submit" name="ChangePassword">
</form>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</body>
</html>