<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            Welcome to Coin Sense
        </title>
    </head>
    <body style = "background-color : rgb(255, 99, 71);">
        <h1 style="text-align:center;background-color:rgb(100,10,80)">
            Welcome to Savers ville!
        </h1>
        <form role="form" method="post" th:object="${loginPage}" th:action="@{/loginPage/login}">
            <div>
                <label>Username</label>
                <input type="text" th:field="*{username}">
            </div>
            <div>
                <label>Password</label>
                <input type="password" value="FakePSW" th:field="*{password}" id="myInput">
                <input type="checkbox" onclick="myFunction()">Show Password
            </div>
            <input type="submit" name="submit">
        </form>
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
    </body>
</html>